<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<!-- Console target with simplified output -->
		<target xsi:type="Console" name="console"
				layout="${message}" />

		<!-- File target with rolling daily logs -->
		<target xsi:type="File" name="file"
				fileName="Logs/ReportingDataSync-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message}"
				keepFileOpen="false"
				encoding="utf-8"
				concurrentWrites="true" />
	</targets>

	<rules>
		<!-- Log everything to file -->
		<logger name="*" minlevel="Info" writeTo="file" />

		<!-- Log to console as well -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
